<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/easybazarlogo"
        android:label="EasyBazar"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JavaProject"
        tools:targetApi="31">
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Paymentdone"
            android:exported="false" />
        <activity
            android:name=".AdminAcivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".AddressActivity"
            android:exported="false" />
        <activity
            android:name=".EachCategoryProduct"
            android:exported="false" />
        <activity
            android:name=".ShowallProducts"
            android:exported="false" />
        <activity
            android:name=".ViewDetail"
            android:exported="false" />
        <activity
            android:name=".OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false"
            android:theme="@style/Theme.JavaProject" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".SignupPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="EasyBazar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>